@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Not sure why the background image does not display*/
body {
    font-family: 'Lobster', cursive;
    background-image: url("../images/image-3.jpg");
}

/*all the colore should be a nuance of blue sky, blue sea*/
header {
    min-height: 70px;
    display: flex;
    width: 100%;
    background: linear-gradient(135deg, #b3e2ff 10%, #b3ffd0 100%);
}

h1 {
    color: white;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#currentDay {
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    background: linear-gradient(135deg, #b3e2ff 30%, #b3ffd0 100%);
    border: 1px solid #dfdfdf;
}

.blockHeading {
    display: flex;
    align-items: center;
}

/* the color should be pop pink*/
.uv span {
    background-color: #ff00ee;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

#forcast .days div {
    padding: 5px;
    background: linear-gradient(135deg, #b3e2ff 10%, #b3ffd0 100%);
    color: #030303;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#cities {
    position: center;
    background-color: #f8f9fa;
    padding: 8px;
    box-sizing: border-box;
    height: 60%;
    width: 60%;
}

#cities h3 {
    margin: 0 0 0 5px;
    padding: 10px 0;
}

#search {
    display: flex;
    margin-left: 5px;
}

#search input {
    border: 1px solid #dfdfdf;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 60%;
}

#search button {
    background: linear-gradient(135deg, #b3e2ff 10%, #b3ffd0 100%);
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 0px solid transparent;
}

#search button img {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#searchError {
    height: 18px;
    margin-left: 5px;
    color: #ff00ee;
}

@media only screen and (min-width: 768px) {
    #container {
        display: flex;
        align-items: stretch;
        min-height: calc( 100% - 70px);
    }
    #forcast h2,
    #forcast .days {
        padding: 0 20px;
    }
    #forcast .days {
        display: flex;
        justify-content: space-between;
    }
    #forcast .days div {
        width: calc(20% - 20px);
    }
    #cities {
        min-width: 25%;
    }
    #weather {
        min-width: 75%;
    }
    #currentDay,
    #forcast {
        min-height: 40%;
    }
}

@media only screen and (min-width: 1120px) {
    #forcast .days div {
        width: calc(20% - 40px);
    }
}